@import "_variables.scss";

@keyframes off{
    from {
    
      opacity: 90%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: -1;
    
  }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes Coeur{

  0% {
    fill: url(#svgcouleur);
    fill-opacity: 0;
    stroke: black;
    stroke-width: 10px;
  }

  40% {
    stroke-width: 3px;
  }

  50% {
    stroke-width: 1px;
    transform: scale(1.5);
    fill: url(#svgcouleur); /* Voir _variable */
    fill-opacity: 1;
  }

  70% {
    stroke-width: 3px;
  }
  100% {
    fill: url(#svgcouleur);
    fill-opacity: 0;
    stroke: black;
    stroke-width: 10px;
  }
}

@keyframes CheckboxCercle {

  0%{
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }

}

@keyframes CheckboxBoite {

  from {
    width: 0px;
  }

  to {
    width: 50px;
  }
  
}
