.boite1
{
    animation: MenuAnime ease-in 1500ms forwards;
}

.boite2
{
    animation: MenuAnime ease-out 1500ms forwards 400ms;

}

.boite3
{
    animation: MenuAnime ease-out 1500ms forwards 800ms;
}