.Menu_menu--boite--bulle:hover .Checkbox
{
    animation: CheckboxBoite ease-out 650ms forwards;
}

.Menu_menu--boite--bulle:hover .circlecheck 
{
    transform-origin: 25px 25px;
    animation: CheckboxCercle ease-in 350ms forwards 300ms;
}


.Menu_menu--boite--bulle:hover .Menu_menu--boite--bulle--gauche {
    animation: GaucheWidth ease-out 650ms forwards;
  }
  
