@font-face {
    font-family: "Roboto"; /* Texte */
    src: url(../distrib/Polices/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Shrikhand"; /* Logo et titres */
    src: url(../distrib/Polices/Shrikhand-Regular.ttf);
}