@import "_font.scss";
@import "_animation.scss";
@import "_mixin.scss";
@import "_variables.scss";
@import "_shadow.scss";
@import "_loader.scss";
@import "_coeur.scss";
@import "_light.scss";

*
{
    position: relative;
}

p , a
{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Roboto";
}

h1, h2
{
    font-family: "Shrikhand";
}

h2
{
    font-size: 20px;
    font-weight: bolder;
}




header
{
    width: 100%;
    height: 60px;
    z-index: 2;

    & img 
    {   
        display: block;
        width: 150px;
        margin: auto;
        padding-top: 16px;
    }
}

.localisation
{
    width: 100%;
    height: 50px;
   

    &--boite
    {
        @include flexrow;
        width: 150px;
        margin: auto;

        & p
        {
            font-size: 16px;
            font-weight: bold;
            color: $colour-texte-grey;
            padding-top: 15px;
        }

        & i 
        {
            padding-top: 15px;
            color: $colour-texte-grey;

        }
        
    }

    
}

.explorer
{
    width: 100%;
    text-align: center;
    height: 300px;

    &--boite
    {   
        height: 180px;
        width: 90%;
        padding: 40px 0px 80px 5%;
        @include flexcol;
       
        & h1 
        {
            font-family: "Shrikhand";
            font-size: 25px;
            color: $colour-texte-black;
        }
    
        & p 
        {
            font-size: 16px;
        }
    
        & a 
        {
            @include btn;
        }

    }
    
}

.fonctionnement
{
    width: 100%;
    

    &--boite
    {
        @include flexcol;
        height: 400px;
        margin-bottom: 45px;

        &--bulle a
        {
            display: flex;
            text-decoration: none;
            background-color: $colour-background-grey;
            width: 85%;
            margin: 0px auto;
            height: 70px;
            border-radius: 30px;
            color: black;
            font-weight: bold;
        }

        &--bulle--chiffre 
        {
            text-align: center;
            margin-top: 23px;
            width: 15px;
            height: 15px; 
            @include chiffreV;
            transform: translateX(-10px);
        }
        &--bulle i 
        {
            margin-top: 27px;
            color: grey;
            width: 10%; 
        }
        &--bulle--texte
        {
            margin-top: 27px;
            width: 80%;
        }

        &--bulle a:hover
        {
            background-color: #f5edff;          
        }

        &--bulle a:hover .MiniBulle
        {
            color: $colour-primaire;
        }
    }
    
    & h2 
    {
        margin-top: 45px;
        padding-left: 15px;
        margin-bottom: 0px;
    }


}

.restaurant
{
    width: 100%;
    &--boite
    {
        @include flexcol;
        &--bulle
        {
            margin-left: 5%;
            width: 90%;
            height: 200px;
            background-color: $colour-background-white;
            border-radius: 20px;
            margin-bottom: 20px;

            &--image
            {
                height: 70%;
                overflow: hidden;
                border-radius: 20px 20px 0px 0px;
                
            }
            &--image img
            {
               @include fitcontent;
            }
            &--texte
            {
                padding-top: 5px;
            }

            &--texte p
            {
                padding-top: 5px;
            }

            &--coeur
            {
                color: black;
                width: 25px;
                height: 25px;
                padding-top: 10px;
                
            }
            &--coeur:hover .heart
            {
                cursor:pointer;
               color: $colour-primaire;
            }
        }
       
    }

    & h2 
    {
        margin-left: 15px;
        margin-top: 30px;
        margin-bottom: 10px;

    }

}

.footer
{

    background-color: $colour-footer;
    @include flexcol;
    color: white;
    padding-bottom: 30px;

    & a 
        {
            display: block;
            margin: 2px 0px 2px 5%;
            font-size: 14px;
            text-decoration: none;
            color: white;
        }  

    & i 
    {
        margin-top: 10px;
    }
    &--flex 
    {
    display: flex;
    flex-direction: row;
        & a 
        {
            margin-left: 2px;
        }
    }
}

.iconefooter
{
    width: 20px;
}

.titrefooter
{
    font-family: "Shrikhand";
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* --------------------------------Page Menu-------------------------------- */

header 
{
   & i { 
    position: absolute;
    transform: translate(25px, -13px);
   }

   & a 
   {
    text-decoration: none;
    color: $colour-texte-black;
   }
}

.Menu_entete 
{
    height: 200px;
    width: 100%;
    overflow: hidden;

    & img
    {
        @include fitcontent;
    } 
}

.Menu_menu 
{
    z-index: 2;
    margin-top: -30px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;

    &--titre
    {
        & h1
        {
            font-family: "Shrikhand";
            font-weight: bold;
            color: $colour-texte-black;
            font-style: italic;
        }

        & i 
        {
            padding-top: 12px;
        }
    }

    &--boite
    {

        &--titre
        {
            margin-bottom: 15px;
        }
        &--bulle
        {
            background-color: $colour-background-white;
            border-radius: 10px 10px;
            width: 95%;
            height: 50px;
            @include flexrow;
            margin-bottom: 10px;

            &--gauche
            {
                width: 100%;
            }

            &--droite
            {
                width: 0px;
                height: 100%;
                background-color: aquamarine;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &--titre
            {
                padding: 8px 0px 5px 5px;
            }

            &--prix
            {
                height: 95%;
                @include flexrow;
                padding: 0px 15px 8px 5px;
            }
        }


    }

    &--bouton

    {
        margin-top: 30px;
        padding-bottom: 50px;
    }

    &--bouton a 
    {
        @include btn;
    }
}

